{% include "base.html" %}
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Recommendation System</title>
  
</head>

<body>
 <div class="login">
	<h1>Recommend Movies</h1>

    {# <!-- Main Input For Receiving Query to our ML 
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Movie Name" placeholder="Experience" required="required" />
        <input type="text" name="Year" placeholder="Test Score" required="False" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
    </form>--> #}

   <br>
   <br>
   {# { recommendation } #}

 </div>


</body>
</html>
